<div class="px-4">
  <div class="py-4 flex gap-4">
    <button class="button button-outline" type="button">
      <span class="button-label">Filter 1</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-chevron-down button-icon"
      >
        <path d="m6 9 6 6 6-6" />
      </svg>
    </button>
    <button class="button button-outline" type="button">
      <span class="button-label">Filter 2</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-chevron-down button-icon"
      >
        <path d="m6 9 6 6 6-6" />
      </svg>
    </button>
    <button class="button button-outline" type="button">
      <span class="button-label">Filter 3</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-chevron-down button-icon"
      >
        <path d="m6 9 6 6 6-6" />
      </svg>
    </button>
    <button class="button button-outline" type="button">
      <span class="button-label">Filter 4</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-chevron-down button-icon"
      >
        <path d="m6 9 6 6 6-6" />
      </svg>
    </button>
  </div>
  <label
    class="h-10 py-4 inline-flex items-center gap-1 text-sm font-semibold peer group cursor-pointer"
    for="advanced"
  >
    Advanced filter
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-chevron-down duration-300 group-has-checked:transform group-has-checked:rotate-180"
    >
      <path d="m6 9 6 6 6-6" />
    </svg>
    <input type="checkbox" name="advanced" id="advanced" class="hidden" />
  </label>
</div>
