<div class="py-2 px-4 flex gap-4 justify-between items-center">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="lucide lucide-circle"
  >
    <circle cx="12" cy="12" r="10" />
  </svg>
  <div id="dropdown" class="dropdown">
    <!-- Dropdown trigger -->
    <label
      id="filter"
      data-invalid="false"
      class="dropdown-trigger peer group data-[invalid=true]:outline data-[invalid=true]:outline-red-500"
    >
      <span class="dropdown-label">
        {{ currentCard.name ? currentCard.name : "Select one" }}</span
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-chevron-down dropdown-icon"
      >
        <path d="m6 9 6 6 6-6" />
      </svg>
      <input class="hidden" type="checkbox" (change)="openDropdown()" />
    </label>
    <!-- Dropdown items -->
    <div #dropdown data-dropdown="closed" class="dropdown-items">
      <ul class="*:pl-4 *:py-1 *:w-full *:cursor-pointer *:hover:bg-slate-100">
        @for (card of cards(); track $index) {
        <li
          (click)="selectCard(card)"
          class="{{ card.selected ? 'bg-slate-300' : '' }}"
        >
          {{ card.name }}
        </li>
        }
      </ul>
    </div>
  </div>
  <hr class="w-px h-10 bg-gray-300 border-0" />
  <label
    id="keyword"
    data-invalid="false"
    class="flex items-center gap-4 px-2 flex-1 peer group min-w-40 rounded-md focus-within:outline focus-within:outline-slate-500 hover:shadow data-[invalid=true]:outline data-[invalid=true]:outline-red-500"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-search"
    >
      <circle cx="11" cy="11" r="8" />
      <path d="m21 21-4.3-4.3" />
    </svg>
    <input
      class="h-10 w-full outline-none"
      type="text"
      placeholder="Type a keyword"
      (input)="onInput($event)"
    />
  </label>
  <button class="button button-filled cursor-pointer" type="submit">
    Search
  </button>
</div>
