<main class="p-8 h-screen overflow-auto">
  <div class="bg-white rounded-lg drop-shadow-lg min-w-[610px]">
    <form>
      <div class="py-2 px-4 flex gap-4 justify-between">
        <div class="relative h-10 inline-flex items-center">
          <!-- Dropdown trigger -->
          <label
            class="flex justify-between items-center gap-4 peer group min-w-40"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-circle"
            >
              <circle cx="12" cy="12" r="10" />
            </svg>
            <span for="selectOne">Select one</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-chevron-down duration-300 group-has-checked:transform group-has-checked:rotate-180"
            >
              <path d="m6 9 6 6 6-6" />
            </svg>
            <input
              class="hidden"
              type="checkbox"
              id="selectOne"
              name="selectOne"
            />
          </label>
          <!-- Dropdown items -->
          <div
            class="absolute top-full left-0 w-full max-h-0 overflow-y-auto bg-white rounded-md drop-shadow-md duration-300 peer-has-checked:max-h-96 peer-has-checked:duration-500"
          >
            <ul class="*:pl-2 *:py-1 *:w-full *:hover:bg-slate-100">
              <li>asASDdf</li>
              <li>asdf</li>
              <li>asdf</li>
              <li>asdf</li>
              <li>asdf</li>
              <li>asdf</li>
              <li>asdf</li>
              <li>asdf</li>
              <li>asdf</li>
              <li>asdf</li>
              <li>asdf</li>
            </ul>
          </div>
        </div>
        <hr class="w-px h-10 bg-gray-300 border-0" />
        <label class="flex items-center gap-4 flex-1 peer group min-w-40">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-search"
          >
            <circle cx="11" cy="11" r="8" />
            <path d="m21 21-4.3-4.3" />
          </svg>
          <input
            class="h-10 w-full pl-2"
            type="text"
            placeholder="Type a keyword"
            id="selectOne"
            name="selectOne"
          />
        </label>
        <button
          class="bg-slate-900 text-white rounded-md h-10 px-3 flex items-center"
        >
          Search
        </button>
      </div>
      <hr class="h-px bg-gray-300 border-0" />
      <div class="px-4">
        <div class="peer-has-checked:bg-slate-300 overflow-auto">
          asdldfghfg
        </div>
        <label
          class="h-10 py-4 flex items-center gap-1 text-sm font-semibold peer group"
          for="advanced"
        >
          Advanced filter
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-chevron-down duration-300 group-has-checked:transform group-has-checked:rotate-180"
          >
            <path d="m6 9 6 6 6-6" />
          </svg>
          <input type="checkbox" name="advanced" id="advanced" class="hidden" />
        </label>
      </div>
    </form>
  </div>
</main>
<router-outlet></router-outlet>
