/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
  --animate-dropdown: dropdown 0.3s;
  --animate-dropup: dropup 0.3s;

  @keyframes dropdown {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes dropup {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(-100%);
      opacity: 0;
    }
  }
}
