/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
  --animate-dropdown: dropdown 0.3s;
  --animate-dropup: dropup 0.3s;

  @keyframes dropdown {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes dropup {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(-100%);
      opacity: 0;
    }
  }
}

@layer components {
  .button {
    @apply inline-flex items-center h-10 pl-4 pr-4 rounded-md border border-transparent;
    &:has(.button-icon) {
      @apply pr-0;
      .button-label {
        @apply mr-2;
      }
    }
    .button-label {
      @apply font-semibold;
    }
    .button-icon {
      @apply mr-2;
    }
    .button-badge {
      @apply mr-2 bg-slate-900 text-white text-xs px-1 rounded-full;
    }
  }
  .button-outline {
    @apply border-slate-300;
  }
  .button-filled {
    @apply bg-slate-900 text-white;
  }

  .dropdown {
    @apply relative inline-flex items-center min-w-32;

    .dropdown-trigger {
      @apply w-full inline-flex items-center h-10 pl-4 rounded-md border border-transparent cursor-pointer duration-150 hover:shadow;

      &:has(input:checked) {
        @apply outline outline-slate-500;
      }
      &:has(input:focus-visible) {
        @apply outline outline-slate-500;
      }
    }

    /* .dropdown-trigger:has(.dropdown-icon) {
      .dropdown-label {
        @apply mr-2;
      }
    } */
    .dropdown-label {
      @apply flex-1 text-center;
    }

    .dropdown-icon {
      @apply mr-2 duration-300 group-has-checked:rotate-180;
    }

    .dropdown-items {
      @apply min-w-40 w-full max-h-0 overflow-y-auto z-50 absolute top-full right-0 mt-1 rounded-md bg-white drop-shadow-md duration-300 data-[dropdown=opened]:max-h-96 data-[dropdown=opened]:duration-500;
    }
  }
  .dropdown-outline {
    .dropdown-trigger {
      @apply border-slate-300;
    }
  }
  .button-filled {
    .dropdown-trigger {
      @apply bg-slate-900 text-white;
    }
  }
}
